<div class="container-fluid pt-3">
  <app-header></app-header>
  <div class="container p-1 h-75 d-flex align-items-end">
    <div class="row d-flex h-75 w-75">
      <div class="col-8 h-50 justify-content-evenly d-flex flex-column h-75">
        <h2>
          The easiest way to get new oportunity way to get new oportunity way to
          get new oportunity
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam fuga
          dolores non veritatis sequi sit deserunt delec
        </p>
      </div>
      <div
        class="col-12 d-flex w-75 h-25 justify-content-between align-items-center border rounded"
      >
        <div class="input-group h-50 d-flex justify-content-between">
          <span class="input-group-text me-1">Category</span>
          <input
            type="text"
            aria-label="First name"
            class="form-control me-1"
          />
          <span class="input-group-text me-1">City</span>
          <input type="text" aria-label="Last name" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-4">
      <img src="../../assets/images/Daco_1558328.png" class="w-75" alt="" />
    </div>
  </div>
</div>
<app-path></app-path>
<app-category></app-category>
